In [1]:
#import pandas
import pandas as pd

In [2]:
# create Data Frame object
stocks = ["IBM", "APPLE", "TWTTR", "GE", "MSFT"]
prices = [115.00, 119.14, 19.77, 25.99, 26]

In [3]:
portfolio = list(zip(stocks,prices))
print(portfolio)

[('IBM', 115.0), ('APPLE', 119.14), ('TWTTR', 19.77), ('GE', 25.99), ('MSFT', 26)]

In [4]:
df = pd.DataFrame(data=portfolio, columns=['Stocks', 'Prices'])
df

  Stocks  Prices
0    IBM  115.00
1  APPLE  119.14
2  TWTTR   19.77
3     GE   25.99
4   MSFT   26.00

In [8]:
# lets add another column
df["Volume"] = 0

In [9]:
df

  Stocks  Prices  Volume
0    IBM  115.00       0
1  APPLE  119.14       0
2  TWTTR   19.77       0
3     GE   25.99       0
4   MSFT   26.00       0

In [10]:
df["Volume"] = [40,36,23,44,25]
df

  Stocks  Prices  Volume
0    IBM  115.00      40
1  APPLE  119.14      36
2  TWTTR   19.77      23
3     GE   25.99      44
4   MSFT   26.00      25

In [11]:
# we can change index
df.index = ['a','b','c','d','e']
df

  Stocks  Prices  Volume
a    IBM  115.00      40
b  APPLE  119.14      36
c  TWTTR   19.77      23
d     GE   25.99      44
e   MSFT   26.00      25

In [12]:
# slicing DataFrame objects
df.Stocks

a      IBM
b    APPLE
c    TWTTR
d       GE
e     MSFT
Name: Stocks, dtype: object

In [13]:
# slicing with square brackets
df["Stocks"]

a      IBM
b    APPLE
c    TWTTR
d       GE
e     MSFT
Name: Stocks, dtype: object

In [14]:
# indexing using square brackets
# column label and index
df["Stocks"]['c']

'TWTTR'

In [15]:
# column can be an attribute
df.Stocks['c']

'TWTTR'

In [16]:
# more officiant way is to use .loc - indexing by labels
df.loc['c']

Stocks    TWTTR
Prices    19.77
Volume       23
Name: c, dtype: object

In [17]:
df.loc['c', 'Prices']

19.77

In [18]:
# or .iloc - indexing by index positions, row and column
print(df)
df.iloc[4,1]

  Stocks  Prices  Volume
a    IBM  115.00      40
b  APPLE  119.14      36
c  TWTTR   19.77      23
d     GE   25.99      44
e   MSFT   26.00      25

26.0

In [19]:
df.iloc[-1,1]

26.0

In [20]:
# you can create new DataFrame or Series
df_new = df[['Stocks','Volume']]
df_new

  Stocks  Volume
a    IBM      40
b  APPLE      36
c  TWTTR      23
d     GE      44
e   MSFT      25